@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  @apply text-17 text-accent2 font-karla;
}

p,
li,
a {
  @apply text-17 text-accent2;
}

p {
  @apply mb-4 last:mb-0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-outfit text-pvBlack font-semibold mb-4;
}

h1 {
  @apply text-5xl lg:text-6xl xl:text-7xl leading-none;
}

h2 {
  @apply text-32 lg:text-5xl xl:text-6xl leading-none;
}
h3 {
  @apply text-3xl lg:text-32;
}
h4 {
  @apply text-xl lg:text-3xl;
}
h5 {
  @apply text-lg md:text-22;
}
h6 {
  @apply text-lg;
}

.container {
  max-width: 1200px;
}
.btn {
  @apply px-8 py-3 flex items-center gap-2 text-white bg-accent1 shadow-blueShadow rounded-full;
}
.btn.btn-secondary {
  @apply text-accent1 bg-transparent shadow-none px-1;
}

/*menu css*/
.propvivoLogo {
  max-width: 128px;
  width: 100%;
}
.navbar_link a {
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
  transition: all 0.5s;
}
.navbar_link a:hover,
.navbar_link a.active {
  color: rgba(255, 255, 255);
}
.navbar_link a::before {
  content: "";
  width: 22px;
  height: 2px;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: -2px;
  background: #fff;
  transition: 0.5s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 100% 50%;
}
.navbar_link a:hover::before,
.navbar_link a.active::before {
  transform: scale3d(1, 1, 1);
  transform-origin: 0 50%;
}

.toggleMenu span {
  position: absolute;
  width: 20px;
  height: 2px;
  background: #fff;
  border-radius: 10px;
  transition: 0.5s;
}

.toggleMenu span:nth-child(1) {
  transform: translateY(-7px);
}

.toggleMenu.active span:nth-child(1) {
  width: 20px;
  transform: translateY(0) rotate(45deg);
  transition-delay: 0.125s;
}

.toggleMenu span:nth-child(2) {
  transform: translateY(7px);
}

.toggleMenu.active span:nth-child(2) {
  width: 20px;
  transform: translateY(0) rotate(-45deg);
  transition-delay: 0.25s;
}

.toggleMenu.active span:nth-child(3) {
  transform: translateX(60px);
}

/*footer css*/
.footerMenu li a {
  @apply text-white/70 hover:text-accent1;
}

/*Home CSS*/
.newsletterForm .btn svg {
  @apply hidden;
}

/*about css*/
.teamSlider:after {
  background: linear-gradient(
    270deg,
    rgba(246, 249, 255, 0.75) 0%,
    rgba(246, 249, 255, 0.65625) 12.5%,
    rgba(246, 249, 255, 0.5625) 25%,
    rgba(246, 249, 255, 0.46875) 37.5%,
    rgba(246, 249, 255, 0.375) 50%,
    rgba(246, 249, 255, 0.28125) 62.5%,
    rgba(246, 249, 255, 0.1875) 75%,
    rgba(246, 249, 255, 0.09375) 87.5%,
    rgba(246, 249, 255, 0) 100%
  );
  max-width: 210px;
}

/*timeline css*/
.timeline {
  @apply relative overflow-hidden before:absolute before:left-4 md:before:left-1/2;
}
.timeline:before {
  width: 1px;
  height: calc(100% - 60px);
  background-image: linear-gradient(
      1800deg,
      transparent,
      transparent 50%,
      #ffffff 50%,
      #fff 100%
    ),
    linear-gradient(180deg, #7a7d9c, #7a7d9c, #7a7d9c, #7a7d9c, #7a7d9c);
  background-size: 3px 14px, 100% 14px;
}

.timeline ul li {
  @apply relative w-full	md:w-1/2 md:pt-2 pb-6 lg:pb-14 last:pb-0;
}

.timeline ul li:nth-child(odd) {
  @apply float-right md:float-left md:text-right clear-both pl-10 md:pr-14;
}
.timeline ul li:nth-child(even) {
  @apply float-right text-left clear-both pl-10 md:pl-14;
}

/*tabs css*/
.tabData h4 {
  border-bottom: 1px solid #dddff1;
  padding-bottom: 14px;
}
.tabData li {
  position: relative;
  margin-bottom: 16px;
  padding-left: 16px;
}

.tabData li:before {
  content: "";
  width: 6px;
  height: 6px;
  background: #fc500a;
  position: absolute;
  top: 10px;
  left: 0;
  border-radius: 50px;
}

.tabData img {
  border-radius: 1rem;
}

.fadeIn {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Media Queries */
@media (min-width: 1200px) {
  .padLeft {
    padding-left: calc((100% - 1170px) / 2) !important;
  }
}

@media (max-width: 1024px) {
  h1 br,
  h2 br {
    display: none;
  }
  .menuTop {
    position: fixed;
    top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    opacity: 0;
    pointer-events: none;
    align-items: flex-start;
  }
  .menuOpen {
    height: calc(100vh - 20px);
    overflow-y: auto;
    opacity: 1;
    pointer-events: initial;
  }
}

@media (max-width: 767px) {
  .teamSlider:after {
    max-width: 90px;
  }
  .timeline:before {
    max-width: 100%;
  }
  .timeline:before {
    height: calc(100% - 120px);
  }
}
